# Specific Bazel build/test options.

build --enable_platform_specific_config

build:windows --compiler="clang-cl" --cxxopt="/std:c++17"

build:macos --cxxopt=-std=c++17

build:linux --cxxopt=-std=c++17

build:clang --action_env=CC=clang

build:clang_debug --action_env=CC=clang --cxxopt=-fstandalone-debug -c dbg