# Specific Bazel build/test options.
build --enable_platform_specific_config

build:windows --compiler="clang-cl" 

build:clang --action_env=CC=clang

# Required for bazel_clang_tidy to operate as expected
build:clang-tidy --aspects @bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report
# Optionally override the .clang-tidy config file target
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_config=//:clang_tidy_config

# Allow users to add local preferences.
try-import %workspace%/user.bazelrc
