[submodule "submodules/dev-tools"]
	path = submodules/dev-tools
	url = https://github.com/3rdparty/dev-tools.git
	branch = main
[submodule "submodules/pyprotoc-plugin"]
	path = submodules/pyprotoc-plugin
	url = https://github.com/reboot-dev/pyprotoc-plugin
	branch = main
[submodule "submodules/stout"]
	path = submodules/stout
	url = https://github.com/3rdparty/stout.git
	branch = master
