.vs
.vscode
.DS_Store
user.bazelrc
*~

# Runtime file for Dazel.
.dazel_run

# Files inside submodules. This is moot for git itself, since it knows that
# these are submodules and that any file inside a submodule should be treated
# as being in a separate repo (with its own .gitignore) but it is useful for
# other tools that don't know about submodules, notably isort.
submodules/*

### Added by Hedron's Bazel Compile Commands Extractor: https://github.com/hedronvision/bazel-compile-commands-extractor
# The external link: Differs on Windows vs macOS/Linux, so we can't check it in. The pattern needs to not have a trailing / because it's a symlink on macOS/Linux.
/external
# Bazel output symlinks: Same reasoning as /external. You need the * because people can change the name of the directory your repository is cloned into, changing the bazel-<workspace_name> symlink.
/bazel-*
# Compiled output -> don't check in
/compile_commands.json
# Directory where clangd puts its indexing work
/.cache/
