{%-
set namespaces = package_name.split('.')
-%}
#include "{{ eventuals_header }}"

#include "eventuals/do-all.h"
#include "eventuals/just.h"

using eventuals::DoAll;
using eventuals::Just;
using eventuals::Task;

using namespace {{ namespaces | join('::') }}::eventuals;

{% for service in services -%}
Task::Of<void> {{ service.name }}::TypeErasedService::Serve() {
  return [this]() {
    return DoAll(
{%- for method in service.methods %}
      Serve{{ method.name }}(){%- if not loop.last -%},{%- endif %}
{% endfor %}
    ) | Just(); // Return 'void'.
  };
}
{% endfor %}
